@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Timmana:wght@400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


.Test{
  position: absolute;
  top: 0px;
  left:50%;

}

body {
  margin: 0;
  line-height: normal;
}
 
.Navbar {
  position: sticky;
  top: 0;
  z-index: 999;
}
.Navg{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(rgb(43, 127, 255), rgba(255, 255, 255, 0));
}
.screwyio {
  position: absolute;
  top: 34px;
  left: 53px;
  font-size: 54px;
  line-height: 91%;
  font-family: var(--font-urbanist);
  text-align: left;
  text-shadow: 0 6.8318586349487305px 6.83px rgba(0, 0, 0, 0.4);
  color: var(--color-white);
}
.about,
.performance {
  position: absolute;
  top: 58px;
  left: 348px;
  line-height: 91%;
  font-family: var(--font-timmana);
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  cursor: pointer;
  border: 0;
  display: inline-block;
  border: none;
  background-color: inherit;
  text-decoration: none;
}
.performance {
  left: 454px;
}

.get-started {
  position: relative;
  font-size: 32px;
  font-family: var(--font-urbanist);
  color: var(--color-white);
  text-align: left;
}
.get-started-wrapper {
  position: fixed;
  cursor: pointer;
  border: 0;
  padding: 9px var(--padding-base) var(--padding-base);
  background-color: var(--color-gray);
  position: absolute;
  top: 34px;
  left: 1079px;
  border-radius: var(--br-5xl);
  backdrop-filter: blur(25px);
  width: 306px;
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.performance.about.get-started-wrapper:hover{
  background-color: aliceblue;
}

:root {
  /* fonts */
  --font-urbanist: Urbanist;
  --font-timmana: Timmana;

  /* font sizes */
  --font-size-5xl: 24px;

  /* Colors */
  --color-gray: rgba(255, 255, 255, 0.1);
  --color-white: #fff;

  /* Paddings */
  --padding-base: 16px;

  /* Border radiuses */
  --br-5xl: 24px;
  --br-sm-5: 13.5px;
}
