.frame-child {
    flex: 1;
    border-radius: var(--br-5xl);
    background-color: var(--color-gray);
    backdrop-filter: blur(15px);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    height: 206px;
  }
  .frame-parent {
    position: absolute;
    top: 792px;
    left: 53px;
    width: 700px;
    height: 190px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 21px;

  }
  .plugin-file-cover-1-child,
  .plugin-file-cover-1-inner,
  .plugin-file-cover-1-item {
    position: absolute;
    top: 792px;
    left: 530px;
    border-radius: var(--br-5xl);
    background-color: var(--color-gray);
    backdrop-filter: blur(15px);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    width: 215px;
  }
  .plugin-file-cover-1-inner,
  .plugin-file-cover-1-item {
    top: 221px;
    left: 55px;
    width: 711px;
    height: 490px;
  }
  .plugin-file-cover-1-inner {
    top: 1068px;
    width: 1323px;
    height: 637px;
  }
  .group-child1,
  .group-child2,
  .group-child3,
  .group-child4 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 13.52px;
    width: 55.98px;
    height: 56px;
    object-fit: cover;
    background-color: rgb(237, 237, 237);
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.775);
    cursor: pointer;
  }
  .group-child2,
  .group-child3,
  .group-child4 {
    left: 65px;
  }
  .group-child3,
  .group-child4 {
    left: 131.68px;
  }
  .group-child4 {
    left: 197.02px;
  }
  .rectangle-group {
    position: absolute;
    top: 724px;
    left: 271px;
    width: 253px;
    height: 56px;
  }
  .check-mark-1-icon {
    position: absolute;
    top: 731px;
    left: 409px;
    width: 45px;
    height: 41px;
    object-fit: cover;
  }
  .frame-div {
    position: absolute;
    top: 1781px;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(236, 236, 236, 0.26),
      rgba(43, 127, 255, 0.57)
    );
    width: 100%;
    height: 601px;
    overflow: hidden;
  }
  .photo-camera-1 {
    position: absolute;
    top: 955px;
    left: 315px;
    width: 41px;
    height: 41px;
  }
  .photo-camera-2-icon {
    position: absolute;
    top: 733px;
    left: 346px;
    width: 37px;
    height: 37px;
    object-fit: cover;
  }
  .on-off-button-1-icon,
  .wrong-1-icon {
    position: absolute;
    top: 735px;
    left: 483px;
    width: 26px;
    height: 34px;
    object-fit: cover;
  }
  .on-off-button-1-icon {
    top: 734px;
    left: 281px;
    width: 35px;
    height: 35px;
  }
  .plugin-file-cover-1 {
    position: relative;
    background: linear-gradient(
      180deg,
      rgba(43, 127, 255, 0.94),
      rgba(113, 170, 254, 0.94) 12.5%,
      #ededed
    );
    width: 100%;
    height: 2382px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-timmana);
  }
  .plugin-file-cover-1-child1 {
    position: absolute;
    top: calc(50% - 970px);
    left: calc(50% + 72px);
    background-color: rgb(237, 237, 237);
    width: 590px;
    height: 787px;
  }
  .custom-select-frame{
    position: absolute;
    top: calc(50% - 880px);
    left: calc(50% + 90px);
    width: 400px;
    height: 400px;
    padding: 9px var(--padding-base) var(--padding-base);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    gap: 21px;
  }
  .head-select
  .bit-select{
    position: relative;
    font-family: Arial;
 
  }
  .select-selected {
    background-color: blue;
  }
  .head-select{
    left: 20px;
  }
  .convertingTo{
    position: relative;
    top: 20px;
    font-family: var(--font-urbanist);
    color: black; 
    text-align: center;
  }
  .exportingTo{
    position: relative;
    top: 40%;
    cursor: pointer;
    size: 100%;
  }
  @media screen and (max-width: 1200px) {
    .plugin-file-cover-1 {
      width: 1200px;
    }
  }
