.frame-child {
    flex: 1;
    border-radius: var(--br-5xl);
    background-color: var(--color-gray);
    backdrop-filter: blur(15px);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .frame-parent {
    position: absolute;
    top: 792px;
    left: 220px;
    width: 350px;
    height: 190px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 21px;
  }
  .plugin-file-cover-1-child,
  .show3D,
  .choosePicture {
    position: absolute;
    top: 792px;
    left: 530px;
    border-radius: var(--br-5xl);
    background-color: var(--color-gray);
    backdrop-filter: blur(15px);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    width: 215px;
  }
  .show3D,
  .choosePicture {
    top: 221px;
    left: 55px;
    width: 711px;
    height: 490px;
  }
  .choosePicture {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .showphoto{
    position: absolute;
    top: 8%;
    left:8%;
    width: 600px;
    height: 400px; 
  }
  .showphoto2{
    position: absolute;
    top: 6%;
    left:4%;
    width: 320px;
    height: 220px; 
  }
  .clicksee,.clickload{
    position: absolute;
    left: 80% ;
    top: 5% ;
    border: none;
    border-radius: 5px;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 15px;  
  }
  .clicksee:hover,.clickload:hover{
    background-color: aliceblue;
  }
  .clickload{
    left: 900px;
  }

  .show3D {
    top: 1068px;
    width: 1323px;
    height: 637px;

  }
  .checkOn,
  .takePhoto,
  .confirmImage,
  .retakePhoto {
    position: absolute;
    top: -80px;
    left: 0px;
    border-radius: 13.52px;
    width: 55.98px;
    height: 56px;
    object-fit: cover;
    background-color: rgb(237, 237, 237);
    cursor: pointer;
  }
  .checkOn:hover,
  .takePhoto:hover,
  .confirmImage:hover,
  .retakePhoto:hover {
   background-color: rgba(195, 195, 195, 0.775);;
  }
  .takePhoto,
  .confirmImage,
  .retakePhoto {
    left: 65px;
  }
  .confirmImage,
  .retakePhoto {
    left: 131.68px;
  }
  .retakePhoto {
    left: 197.02px;
  }
 
  .toImage {
    position: absolute;
    top: 724px;
    left: 271px;
    width: 253px;
    height: 56px;
  }

  .frame-div {
    position: absolute;
    top: 1781px;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(236, 236, 236, 0.26),
      rgba(43, 127, 255, 0.57)
    );
    width: 100%;
    height: 601px;
    overflow: hidden;
  }
  .aboutUs{
    position: absolute;
    top: 1900px;
    left: 45%;
    text-align: center;
    font-family: var(--font-urbanist);
    font-size: 50px;
  }
  .photo-camera-1 {
    position: absolute;
    top: 955px;
    left: 315px;
    width: 41px;
    height: 41px;
  }
  .photo-camera-2-icon {
    position: absolute;
    top: 733px;
    left: 346px;
    width: 37px;
    height: 37px;
    object-fit: cover;
  }
  .on-off-button-1-icon,
  .wrong-1-icon {
    position: absolute;
    top: 735px;
    left: 483px;
    width: 26px;
    height: 34px;
    object-fit: cover;
  }
  .on-off-button-1-icon {
    top: 734px;
    left: 281px;
    width: 35px;
    height: 35px;
  }
  .plugin-file-cover-1 {
    position: relative;
    background: linear-gradient(
      180deg,
      rgba(43, 127, 255, 0.94),
      rgba(113, 170, 254, 0.94) 12.5%,
      #ededed
    );
    
    width: 100%;
    height: 2380px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-timmana);
  }
  .showScrewInfo {
    position: absolute;
    top: calc(50% - 970px);
    left: calc(50% + 72px);
    background-color: rgb(237, 237, 237);
    width: 590px;
    height: 787px;
  }
  .custom-select-frame{
    position: absolute;
    top: calc(50% - 480px);
    left: calc(50% + 250px);
    width: 100px;
    height: 100px;
    padding: 9px var(--padding-base) var(--padding-base);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    gap: 21px;
  }
  .head-select
  .bit-select{
    position: relative;
    font-family: Arial;
 
  }
  .select-selected {
    background-color: blue;
  }
  .head-select{
    left: 20px;
  }
  .convertingTo{
    position: relative;
    top: 360px;
    color: rgb(0, 0, 0); 
    text-align: center;
    font-size: 40px;
    font-weight:bold ;
  }
  .identifyTo{
    position: relative;
    top: 30px;
    color: rgb(0, 0, 0); 
    text-align: center;
    font-size: 40px;
    font-weight:bold ;
  }

  .Result{
    position: relative;
    top: 160px;
    color: rgb(0, 0, 0); 
    text-align: center;
    font-size: 40px;
    font-weight:bold ;
  }
  .result{
    position: absolute;
    width: 260px;
    height: 56px;
    top: calc(50% - 740px);
    left: calc(50% + 330px);
  }
  .done{
    position : absolute;
    left: -20px;
    width: 130px;
    cursor: pointer;
  }
  
  .text-select-frame {
    position: absolute;
    top: calc(50% - 470px);
    left: calc(50% + 120px);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: center;
    box-sizing: border-box;
    gap: 21px;
    color: black;
    font-size: 24px;
  }
  .load{
    position: absolute;
    width: 260px;
    height: 56px;
    top: calc(50% - 350px);
    left: calc(50% + 240px);
    align-items: center;
  }
  .exportingTo {
    cursor: pointer;
  }
  .loadTol{
    position: absolute;
    width: 260px;
    height: 56px;
    top: calc(50% - 310px);
    left: calc(50% + 240px);
    align-items: center;
    gap:20px;
  }
  #loady {
    position: absolute;
    top: 20px;
    color: rgb(0, 82, 246);
  } 
  .clickto{
    position: relative;
    color: black;
    font-family: Arial;
    font-size: 15px;
    top: 5px;
  }
  .Download{
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 14px 25px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Arial';
  }
  .Download:hover {
    background-color: RoyalBlue;
  }
  .text-result-frame{
    position: absolute;
    top: calc(50% - 860px);
    left: calc(50% + 120px);
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: center;
    box-sizing: border-box;
    gap: 11px;
    color: black;
    font-size: 24px;
  }
  .dimension{
    position: absolute;
    top: calc(50% - 860px);
    left: calc(50% + 320px);
    width: 300px;
    height: 200px;
  }
  .nom,.h,.k,.l,.sl,.tl{
    position: absolute;
    width: 300px;
    height: 30px;
    background-color: white;
    object-fit: cover;
    border: solid;
    border-color: rgb(168, 168, 168) ;
    border-radius: 5px;
    color: black;
   
    font-size: 20px;
  }
  .h{
    top: 50px;
  }
  .k{
    top:100px;
  }
  .tl{
    top:150px
  }
  .sl{
    top:200px;
  }
  .viewdimension{
    top: 260px;
    left: 20px;
    position: absolute;
    width: 100px;
    cursor: pointer;
  }

.rs {
    position: absolute;
    width: 100vh !important; 
    height: 93vh !important;
    left: 24% !important;
    top: 0vh !important;
  }


  @media screen and (max-width: 1200px) {
    .plugin-file-cover-1 {
      width: 1200px;
    }

  }
